// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #0E0000;



// Telecosmos Colors:

$dark-gray: #0D0D0F;
$cream: #FFF3DC;

$f1: #FF533F;
$f2: #EF1741;
$f3: #A51040;
$f4: #BD382B;
$f5: #FAAA39;
$f6: #EF1741;
$f7: #C9DE3E;
$f8: #86FF31;
$f9: #267B2F;
$f10: #2B5071;
$f11: #1B84C2;
$f12: #57CFDF;
$f13: #5F5FEC;
$f14: #7993F6;
$f15: #F65599;
$f16: #FF8B97;
$f17: #FFF3DC;
