// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Sharp Sans Display No2", "Helvetica", "sans-serif";
$headers-font: "Doyle", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: 'Doyle';
  src: font-url('Doyle.otf');
}
$my-font: "Doyle";


@font-face {
  font-family: 'Sharp Sans Display No2';
  src: url('SharpSansDisplayNo2.otf');
}
