// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Sharp Sans Display No2", "Helvetica", "sans-serif";
$headers-font: "Doyle", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: 'Doyle Black';
  src: font-url('Doyle-Black.otf');
}
@font-face {
  font-family: 'Doyle BlackItalic';
  src: font-url('Doyle-BlackItalic.otf');
}
@font-face {
  font-family: 'Doyle Bold';
  src: font-url('Doyle-Bold.otf');
}
@font-face {
  font-family: 'Doyle BoldItalic';
  src: font-url('Doyle-BoldItalic.otf');
}
@font-face {
  font-family: 'Doyle Light';
  src: font-url('Doyle-Light.otf');
}
@font-face {
  font-family: 'Doyle LightItalic';
  src: font-url('Doyle-LightItalic.otf');
}
@font-face {
  font-family: 'Doyle Medium';
  src: font-url('Doyle-Medium.otf');
}
@font-face {
  font-family: 'Doyle MediumItalic';
  src: font-url('Doyle-MediumItalic.otf');
}
@font-face {
  font-family: 'Doyle Regular';
  src: font-url('Doyle-Regular.otf');
}
@font-face {
  font-family: 'Doyle RegularItalic';
  src: font-url('Doyle-RegularItalic.otf');
}


@font-face {
  font-family: 'Sharp Sans Display No2 Black';
  src: font-url('SharpSansDisplayNo2-Black.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 BlackOblique';
  src: font-url('SharpSansDisplayNo2-BlackOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Bold';
  src: font-url('SharpSansDisplayNo2-Bold.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 BlodOblique';
  src: font-url('SharpSansDisplayNo2-BoldOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Book';
  src: font-url('SharpSansDisplayNo2-Book');
}
@font-face {
  font-family: 'Sharp Sans Display No2 BookOblique';
  src: font-url('SharpSansDisplayNo2-BookOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Extrabold';
  src: font-url('SharpSansDisplayNo2-Extrabold.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 ExtraboldOblique';
  src: font-url('SharpSansDisplayNo2-ExtraboldOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Hairline';
  src: font-url('SharpSansDisplayNo2-Hairline.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 HairlineOblique';
  src: font-url('SharpSansDisplayNo2-HairlineOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Light';
  src: font-url('SharpSansDisplayNo2-Light.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 LightOblique';
  src: font-url('SharpSansDisplayNo2-LightOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Medium';
  src: font-url('SharpSansDisplayNo2-Medium.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 MediumOblique';
  src: font-url('SharpSansDisplayNo2-MediumOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Semibold';
  src: font-url('SharpSansDisplayNo2-Semibold.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 SemiboldOblique';
  src: font-url('SharpSansDisplayNo2-SemiboldOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Thin';
  src: font-url('SharpSansDisplayNo2-Thin.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 ThinOblique';
  src: font-url('SharpSansDisplayNo2-ThinOblique.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 Ultrathin';
  src: font-url('SharpSansDisplayNo2-Ultrathin.otf');
}
@font-face {
  font-family: 'Sharp Sans Display No2 UltrathinOblique';
  src: font-url('SharpSansDisplayNo2-UltrathinOblique.otf');
}
