<div>
  <div class="container m-3 d-flex">
    <div>
      <%=cl_image_tag("https://res.cloudinary.com/djkudqafd/image/upload/dl_100/e_loop:0/Mayara_Turn_2_suniki.gif",
      height: 200, crop: :fill) %>
    </div>

    <div class="container d-flex align-items-center">
      <div class="row">
        <p class="fw-bold fs-4 mb-1 pb-0 mt-4">I'm</p>
        <h1 class="fs-1 mt-0 pt-0 mb-5"><%=@user.nickname%></h1>
      </div>

      <div>
        <p class="mt-5"><%=@user.bio%></p>
      </div>
    </div>
  </div>


</div>
