<div class="t-footer">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>
  <i class="fas fa-users"></i>

  <%= link_to search_path do %>
    <i class="fas fa-search"></i>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-child"></i>
    <% end %>
  <% end %>

</div>
