<div class="wrapper">

  <% @universes.shuffle.each do |u| %>
    <%= link_to universe_path(u) do %>
      <div class="universe-folder">
        <%= image_tag u.thumb_url, class: 'universe-folder-img' %>
        <h3><%=u.title%></h3>
        <p><%=u.user.nickname%></p>
      </div>
    <%end%>
  <%end%>


</div>
