<% if user_signed_in? %>
  <div class="wrapper">

      <% current_user.bookmarks.each do |bookmark| %>
        <%= link_to universe_path(bookmark.universe) do %>
          <div class="universe-folder">
            <%= image_tag bookmark.universe.thumb_url, class: 'universe-folder-img'%>
            <h3><%= bookmark.universe.title %></h3>
            <p><%= bookmark.universe.user.nickname %></p>
          </div>
        <% end %>
      <% end %>

  </div>
<% end %>
