<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>The buttons</h1>

<button type="button" class="button-one">travel</button>
<button type="button" class="button-two">travel</button>
<button type="button" class="button-three">travel</button>
<span class="sticker-tag">Action</span>
