

<div data-search-universes-target="list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div>
              <% @universes.each do |universe| %>
              <h4><%= universe.title %></h4>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
