<div data-controller="search-universes">
  <%= form_with url: search_path, method: :get, html: {class:
    "m-4", data: {search_universes_target: "form"}} do |f| %>
    <%= f.text_field :query,
                     class: "form-control universe_search",
                     placeholder: "What are you looking for?",
                     value: params[:query],
                     data: {search_universes_target: "input",
                     action: "keyup->search-universes#update"
                     } %>
  <% end %>

  <%= render 'universes/list', universes: @universes, colors: @colors %>
</div>
