<div class="container mt-5">
  <div class="t-main-card">
    <div class="t-card-universe">
      <%= image_tag('midnight_gospel.jpg', class: "universe-image") %>
      <h1 class="t-card-universe-title"><%= @universe.title %></h1>
      <h3 class="t-card-universe-title"><%= @universe.callout %></h3>
      <p class="t-card-universe-content"><%= @universe.content %></p>
    </div>
  </div>
</div>


