<div class="container mt-5">
  <div class="card">
    <div class="card-body text-center">
      <h1 class="card-title"><%= @universe.title %></h1>
      <h2 class="card-text"><%= @universe.callout %></h2>
      <p class="card-text"><%= @universe.content %></p>
    </div>
  </div>
</div>