.button-one {
width: 152px;
height: 41px;
left: 30px;
top: 107px;
border: 1px solid #000000;
box-shadow: 3px 3px 0px #FF8B97, 4px 4px 0px #000000;
border-radius: 10px;
text-align: center;
text-decoration: none;
color: #F65599;
background-color: #5F5FEC;
font-family: Sharp Sans Display No2;
font-size: 24px;
font-weight: 800;
line-height: 32px;
letter-spacing: 0.045em;
font-style: normal;
text-shadow: 1px 1px 0px #000000;
}




.button-two {
  width: 152px;
  height: 41px;
  left: 30px;
  top: 107px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 0px #BD382B, 4px 4px 0px #000000;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #FF533F;
  background-color: #F3DB56;
  font-family: Sharp Sans Display No2;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.045em;
  font-style: normal;
  text-shadow: 1px 1px 0px #000000;
  }


.button-three {
  width: 152px;
  height: 41px;
  left: 30px;
  top: 107px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 0px #000000;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #FFF3DC;
  background-color: #5F5FEC;
  font-family: Sharp Sans Display No2;
  font-size: 18px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.045em;
  font-style: normal;
  text-shadow: 2px 2px 0px #000000;
  }

  .user_friends{
    color: $cream;
    font-family: $headers-font;
  }

  //MEDIUN BUTTONS

.button-two-medium {
    width: 130px;
    height: 30px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px #BD382B, 4px 4px 0px #000000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #FF533F;
    background-color: #F3DB56;
    font-family: Sharp Sans Display No2;
    font-size: 18px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;
    padding: 4px 10px;
    }

  // SMALL BUTTONS
  .button-accept{
    width: 120px;
    height: 30px;
    left: 30px;
    top: 107px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px $f13, 4px 4px 0px #000000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: $f5;
    background-color: $f14;
    font-family: Sharp Sans Display No2;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;

  }
  .button-decline{
    width: 120px;
    height: 30px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px $f3, 4px 4px 0px #000000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: $f3;
    background-color: $f6;
    font-family: Sharp Sans Display No2;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;

  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }





  .button-one-small {
    width: 75px;
    height: 20.23px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px #BD382B, 4px 4px 0px #000000;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #F65599;
    background-color: #5F5FEC;
    font-family: Sharp Sans Display No2;
    font-size: 10px;
    margin: auto;
    align-items: center;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;
    }




  .button-two-small{
    width: 75px;
    height: 20.23px;
    left: 34px;
    top: 96px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px #BD382B, 4px 4px 0px #000000;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FF533F;
    background-color: #F3DB56;
    font-family: Sharp Sans Display No2;
    font-size: 10px;
    margin: auto;
    align-items: center;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;

  }

  .button-three-small {
    width: 75px;
    height: 20.23px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px #BD382B, 4px 4px 0px #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #F65599;
    background-color: #5F5FEC;
    font-family: Sharp Sans Display No2;
    font-size: 12px;
    align-items: center;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.045em;
    font-style: normal;
    text-shadow: 1px 1px 0px #000000;
    }

    .nickname{
      font-family: 'Doyle';

    }

    .two-buttons {
      display: flex;
      justify-content: space-around;
      gap:10px;

    }
