

.wrapper{
  display: flex;
  overflow-x: auto;
  gap: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.wrapper::-webkit-scrollbar{
  display: none;
}
.universe-folder-img{
  height: 116px;
  width: 116px;
}

.wrapper h3{
  // font-family: 'Doyle';
  // font-style: normal;
  // font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFAF1;
  text-align: left;
  padding: 5px 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 2px;
}
.wrapper p {
  font-family: 'Sharp Sans Display No2';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* c7 */

  color: #BCBFC3;
}

.home-categories-titles{
  font-family: 'Sharp Sans Display No2';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.045em;
  color: $cream;
  text-shadow: 2px 2px 0px #000000;
  margin: 0 0 0 15px;
  padding-bottom: 0px;
}

.universe-title {
  font-weight: 800;
  font-family: "Doyle Regular";
  font-style: normal;
}

.universe-nickname {
  font-weight: 800;
  font-family: "Sharp Sans Display No2 Medium";
  font-style: normal;
}
