.t-footer{
  background-color: $dark;
  height: 70px;
  color: $cream;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid #86FF31;
}

.t-footer i{
  color: #86FF31;

}
