.one {
  position: fixed;
  z-index: 3;
  overflow: hidden;
  transition: 1s;
}

.two {
  position: fixed;
  z-index: 2;
  overflow: hidden;

}

.three {
  position: fixed;
  z-index: 1;
  overflow: hidden;


}

.threescaled {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  scale: 20;
  transition: 10s;

}

.hideslide {
  opacity: 0;
}
