.curtain {
  position: fixed;
  z-index: 1
}

.one {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  transition: 1s;
}

.two {
  position: fixed;
  z-index: 2;
  overflow: hidden;
}

.three {
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

.threescaled {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  scale: 20;
  transition: 10s;
}

.four {
  width: 80%;
  position: fixed;
  transition: 5s;
  z-index: 0;
}

.fourscaled {
  position: fixed;
  // transition: 4s;
}

.hideslide {
  position: fixed;
  opacity: 0;
}

.five {
  scale: 50%;
}

// .six {

// }

.medium-text {

  font-size: 30px;
  font-family: Doyle;
}
