.sticker-tag{
font-family: 'Doyle';
font-style: normal;
text-transform: uppercase;
font-weight: 700;
font-size: 12px;
line-height: 16px;
color: #2C2E31;
text-align: center;
letter-spacing: 0.045em;
border: 0.479983px solid #576060;
box-shadow: 0.479983px 0.959966px 0px 0.479983px #000000;
border-radius: 4.79983px;
padding: 4px 8px;
}
