.sticker-tag {
width: 74.71px;
height: 20.28px;
left: 215px;
top: 292px;
font-family: 'Doyle';
font-style: normal;
font-weight: 700;
font-size: 10.5834px;
line-height: 16px;
color: #FFF3DC;
text-align: center;
letter-spacing: 0.045em;
}
