.avatar-container{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.user-avatar{
  height: 115px;
  width: 115px;
  background-color: #303636;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-svg{
  height: 120px;
  width: 120px;
}
