.avatar-container{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.avatar-container h4{
  margin: 0 auto;
  width: 100%;
}

.avatar-container h6{
  margin: 20px auto;
}

.user-avatar{
  height: 115px;
  width: 115px;
  background-color: #303636;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-final{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100vw;
}
.user-avatar-final {
  background-color: $f16 !important;
}
.avatar-svg{
  height: 120px;
  width: 120px;
}

.avatar-svg-profile{
  height: 160px;
  width: 160px;
}

.avatar-svg-final {
  height: 220px;
  width: 220px;
}

.avatar-svg-navbar{
  height: 55px;
  width: 55px;
}

.profile-name-font p {
  font-family: 'Sharp Sans Display No2 Medium';
}

.profile-name-font h1 {
  font-family: 'Doyle Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.045em;
}

.bio-profile-font {
  font-family: 'Sharp Sans Display No2 Medium';
}
